.project_card_container {
  height: 350px;
  width: 425px;
  box-shadow: var(--box-shadow-1) 0px 1px 3px, var(--box-shadow-2) 0px 1px 2px;
  border-radius: 16px;
  padding: 8px;
  margin: auto;
}

.project_link_title {
  text-decoration: none;
  font-size: 36px;
  color: var(--accent-color);
}

.snapshot_container {
  height: 80%;
  width: 100%;
}

.project_snapshot {
  margin-top: 18px;
}
