@use "../../styles/base";

.about_me_container {
    height: calc(100vh - 75px);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
}

.about_me_container > div {
    width: 50%;
}
//TODO: move styles to about me
.decorative_block_1 {
    position: absolute;
    top: 132px;
    left: 20px;
    height: 273px;
    width: 270px;
    background-image: linear-gradient(rgb(56 139 157), rgb(102 180 183));
    border-radius: 97px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
//TODO: move styles to about me

.decorative_block_2 {
    position: absolute;
    top: 385px;
    left: 271px;
    height: 150px;
    width: 175px;
    background-image: linear-gradient(rgb(141 23 113) , rgb(171, 99, 154) );
    border-radius: 97px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index:1;
}

.flower_container {
    height: 100%;
    display: flex;
    align-items: center;
    z-index: -1;

}

.background_flower {
    height: 400px;
    width: 400px;
}

.descriptive_container {
    margin: auto;

    h1 {
        margin-bottom: 20%;
        font-family: "Libre Baskerville", serif;
        font-size: 4.2em;
        color: base.$primary-font-color;
    }

    h2 {
        font-family: "Libre Baskerville", serif;
        font-size: 3.2em;
    }
}
//TODO: move styles to about me

.profile_pic_image {
    height: 300px;
    width: 250px;
    position: relative;
    top: 121px;
    left: 91px;
    border-radius: 70px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
