$pink: rgb(215 79 155);
$teal: rgb(56 139 157);
$light-teal: rgb(102 180 183);

//THEME COLORS
//light mode
$primary-title-color: rgb(54, 91, 109);
$background: rgb(242 241 235);
$font: rgb(0, 0, 0);
$accent-color: rgb(141 23 113);
$box-shadow-1: rgba(0, 0, 0, 0.12);
$box-shadow-2: rgba(0, 0, 0, 0.24);

//dark mode
$dark-primary-title-color: rgb(172 221 216);
$dark-background: rgb(26 34 38);
$dark-font: rgb(222 213 220);
$dark-accent-color: rgb(227, 132, 204);
$dark-box-shadow-1: rgb(54, 91, 109);
$dark-box-shadow-2: rgb(54, 91, 109);
