@use "../../styles/base";

.heading1 {
  margin: 20px 0px;
  font-family: "Libre Baskerville", serif;
  color: var(--title-color);
}

.heading5 {
  margin: 8px 0px;
  font-family: "Libre Baskerville", serif;
  color: var(--accent-color);
}
