.about_me_container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide_container {
    width: 90%;
    height: 85%;
    display: flex;
    align-items: center;

}
