
.detail_container {
    height: 100%;
    display: flex;

}

.img_container {
    height: 80%;
    width: auto;
    
    img{
        height: 240px;
        width: auto;
    }
}

.description_container {
    height: 100%;
    width: 50%;
}

