.slide_wrapper {
  height: 75vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    color: rgb(54, 91, 109);
  }
}

.slide_header {
  text-align: center;
}

.detail_container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_container {
  height: 80%;
  width: 50%;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 8px;
  }
}

.description_container {
  height: 80%;
  width: 48%;
  margin-left: 4px;
  border-radius: 16px;
  overflow: auto;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  p {
    margin: 24px;
    font-family: "Libre Baskerville", serif;
    font-size: medium;
  }
}

@media screen and (max-width: 670px) {
  .detail_container {
    flex-direction: column;
    height: 80%;
    width: 90%;
  }

  .img_container {
    height: 50%;
    width: 100%;
  }

  .description_container {
    height: 50%;
    width: 100%;
  }
}