@use "../../styles/base";

.welcome_container {
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
}

.main_welcome_content {
  display: flex;
  width: 100%;
  height: 90%;
  overflow: auto;
}

.flower_container {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background_flower {
  height: 400px;
  width: 400px;
}

.descriptive_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  color: var(--main-font);
  h1 {
    margin-bottom: 20%;
    font-family: "Libre Baskerville", serif;
    font-size: 4.2em;
    color: var(--title-color);
  }

  h2 {
    font-family: "Libre Baskerville", serif;
    font-size: 3.2em;
  }
}

@media screen and (max-width: 670px) {
  .main_welcome_content {
    flex-direction: column;
  }

  .flower_container {
    height: 45%;
    margin-left: 20%;
  }

  .background_flower {
    height: 250px;
    width: 250px;
  }

  .descriptive_container {
    height: 55%;
    width: 100%;
  }
}
