@use "../src/styles/base";

[theme-mode="light"] {
  --background-color: #{base.$background};
  --main-font: #{base.$font};
  --title-color: #{base.$primary-title-color};
  --accent-color: #{base.$accent-color};
  --box-shadow-1: #{base.$box-shadow-1};
  --box-shadow-2: #{base.$box-shadow-2};
  --welcome-box-shadow: #{base.$box-shadow-3};
}

[theme-mode="dark"] {
  --background-color: #{base.$dark-background};
  --main-font: #{base.$dark-font};
  --title-color: #{base.$dark-primary-title-color};
  --accent-color: #{base.$dark-accent-color};
  --box-shadow-1: #{base.$dark-box-shadow-1};
  --box-shadow-2: #{base.$box-shadow-2};
  --welcome-box-shadow: #{base.$dark-box-shadow-3};
}

html {
  scroll-snap-type: y mandatory;
}

body {
  min-width: 100%;
  min-height: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.slick-prev:before,
.slick-next:before {
  content: "" !important;
}

.slick-dots li.slick-active button:before,
.slick-dots li button:before {
  color: var(--accent-color);
}
