.slide_wrapper {
    height: 80%;
    width: 80%;
    background-color: pink;
}

.detail_container {
    height: 100%;
    display: flex;


}

.img_container {
    height: 80%;
    width: 50%;
    img{
        height: 100%;
        width: 100%;
    }
}

.description_container {
    height: 100%;
    width: 50%;
}

